[submodule ".registry"]
	path = .registry
	url = https://github.com/arutools/arutools.r-universe.dev
	branch = HEAD
[submodule "ARUtools"]
	path = ARUtools
	url = https://github.com/arutools/ARUtools
